body {
    background-color: slategray;
}

h1 {
    color: white;
    text-align: center;
}

form {
    text-align: center;
}

#submit {
    background-color: greenyellow;
}

#remove {
    background-color: red;
}